<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floridium - History</title>
    <link rel="stylesheet" href="plantsStyles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="history.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/Assets/favicon.ico">
</head>

<body>
    <header>
        <img class="logo" src="Assets/Logo_Clear_Bkg.png" alt="Smart Plant Pot">
        <div class="navigation-bar">
            <nav class="nav-links">
                <a href="homepage" class="nav-item">Home</a>
                <a href="aboutus" class="nav-item">About Us</a>
                <a href="storepage" class="nav-item">Store Page</a>
                <a href="plantsOwned" class="nav-item">Your Plant</a>


            </nav>
        </div>
    </header>
    <main>
        <a href="plantsOwned" id="backBTN">
                <button id="YourPlantsBTN">
                    <img src="Assets/back-arrow.png" alt="">
                </button>
        </a>
        <h2>Sunlight</h2>
        <canvas id="SunlightChart"></canvas>
        <h2>Moisture</h2>
        <canvas id="MoistureChart"></canvas>
        <h2>Temperature</h2>
        <canvas id="TemperatureChart"></canvas>
    </main>
</body>

</html>