<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floridium - About us</title>
    <link rel="stylesheet" href="plantsStyles.css">
    <link rel="icon" type="image/x-icon" href="/Assets/favicon.ico">
    <script src="main.js" defer></script>
</head>

<body>
    <header>
        <img class="logo" src="Assets/Logo_Clear_Bkg.png" alt="Smart Plant Pot">
        <div class="navigation-bar">
            <nav class="nav-links">
                <a href="homepage" class="nav-item">Home</a>
                <a href="aboutus" class="nav-item">About Us</a>
                <a href="storepage" class="nav-item">Store Page</a>
                <a href="plantsOwned" class="nav-item">Your Plant</a>


            </nav>
        </div>
    </header>
    <!-- make this have a gap instead of just margins/ padding! -->
    <div class="AddPlantPot">
        <input type="text" id="potIDinput" placeholder="Enter pot ID">
        <button id="addPotBTN"></button>
    </div>
    <main id="plant-list">

    </main>
</body>

</html>