<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>FLORIDIUM - HOME</h1>
        <div class="navigation-bar">
            <nav class="nav-links">
                <a href="homepage" class="nav-item">Home</a>
                <a href="aboutUs" class="nav-item">About Us</a>
                <a href="Plant" class="nav-item">Plant</a>
            </nav>
        </div>
    </header>
    <main>
        <div id="container-one">
            <div id="text">
                <h2 style="color: green;">Floridium<br>A Smart Plant Pot</h2>
                <p1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque esse, architecto animi
                    consequatur, repellendus vel numquam enim vero molestias error voluptatibus nemo ea voluptatum
                    magnam quae hic repellat ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis,
                    sint accusantium eos quae minus omnis veritatis. Soluta in minima enim. Tempora minus praesentium,
                    repudiandae ab accusamus facere commodi iste cupiditate?</p1>
            </div>
            <div id="image-container">
                <img class="plantpot1" src="../images/plantpot1.png" alt="Smart Plant Pot">
            </div>
        </div>
        <section class="features-section">
            <h2 class="features-title">What are you buying from us?</h2>

            <div class="features-box">
                <div class="feature-card">
                    <div class="icon blue">💧</div>
                    <h3>Multi monitoring</h3>
                    <p>
                        From water levels to soil health and sunlight, track all the requirements
                        to keep a healthy plant.
                    </p>
                </div>

                <div class="feature-card">
                    <div class="icon yellow">☀️</div>
                    <h3>Solar Powered</h3>
                    <p>
                        Our built in solar panels help reduce battery usage and keep it eco
                        friendly.
                    </p>
                </div>

                <div class="feature-card">
                    <div class="icon red">💡</div>
                    <h3>LED indicators</h3>
                    <p>
                        Physical LEDs cover parts of the pot to convey whether there is an issue
                        or not to keep you informed at a moments notice.
                    </p>
                </div>

                <div class="feature-card">
                    <div class="icon purple">📶</div>
                    <h3>Connected</h3>
                    <p>
                        Access your plants data anywhere on this very website.
                    </p>
                </div>
            </div>
            <section class="final-section">
                <div class="section-text">
                    <h3 class="subheading">Are you convinced yet?</h3>
                    <p>Make plant care easy</p>
                    <button>Pre-order now</button>
                </div>
            </section>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>